<form>
  <h2>Log In</h2>
  <label>Email</label>
  <input id="loginControllerEmail" class="formControl">
  <label>Password</label>
  <input id="loginControllerPassword" class="formControl" type="password">
  <button id="loginControllerSubmit" class="buttonPrimary" disabled>Login</button>
  <script src="/scripts/loginController.js"></script>
  <a class="passwordResetLink" href="/passwordReset.html">Click here to reset your password.</a>
</form>
