@font-face {
  font-family: "Rounded";
  src: url("/typefaces/BalooThambi2-Regular.ttf");
}

body {
	margin: 0px;
	font-family: 'Rounded', sans-serif;
    background-color: #ffffff;
    color: black;
}

a:visited {
    color: grey;
}

.hidden {
    display: none;
}

.inactive {
    opacity: 0.5;
}

.invert {
    transform: rotate(180deg);
}

.invalid {
    border: 2px solid red !important;
}

.chosen {
    background-color: #c1ffff;
}

.noMarginTop {
    margin-top: 0px;
}

.moreBottomMargin {
    margin-bottom: 10px;
}

h1, h2, h3, h4 {
	text-align: center;
}

h2, h3, h4 {
	font-weight: normal;
}

h1 {
    font-size: 3.8em;
    margin: 5px auto;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

form h2 {
    margin: 5px;
}

h3 {
    font-size: 1.9rem;
}

form h3 {
	margin: 5px;
}

.logo {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

p {
		font-size: 1.25rem;
    text-align: center;
}

.left {
    text-align: left;
    margin-left: 20px;
}

.shadowedRound {
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.grid {
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
}

th {
    text-align: left;
    background-color: black;
    padding: 5px;
    vertical-align: bottom;
}

td {
    padding: 5px;
    border: 1px solid white;
}

.modal {
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    border: 1px solid white;
    border-radius: 5px;
}

.modal h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.confirmModal {
    background-color: black;
}

form {
    margin: 5px auto;
    width: 300px;
    box-shadow: 2px 2px 20px black;
    padding: 10px;
    border-radius: 5px;
    animation-duration: 1s;
    animation-name: fadeIn;
    border: 1px solid white;
}

form h1 {
    margin-top: 5px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.leftAlignedForm {
    margin: 5px;
}

.formControl {
    display: block;
    width: 85%;
    padding: .375rem .75rem;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.formControl[type="checkbox"] {
    height: 32px;
    width: 32px;
}

.responseDisplayArea {
    height: 110px;
}

.icon {
    width: 32px;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
    transition: transform 1s;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}

.buttonPrimary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.buttonPrimary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.buttonCancel {
    color: #fff;
    background-color: #945300;
    border-color: #ffad00;
}

.buttonCancel:hover {
    background-color: #d67800;
    border-color: #d67800;
}

.buttonWarning {
    background-color: #7b143e;
    color: white;
    border-color: #d8266e;
    float: right;
}

.buttonWarning:hover {
    background-color: #d8266e;
    border-color: #d8266e;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button {
		font-family: "Rounded";
		text-shadow: black 2px 2px 10px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: 5px;
    margin-left: 0px;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    opacity: 0.5;
}

*:disabled {
    cursor: not-allowed;
}

a.passwordResetLink {
    color: orange;
    font-size: 13px;
    text-decoration: none;
}

.category {
    margin-left: 20px;
    margin-right: 20px;
}

.categoryName {
    background-color: black;
		color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.GET {
    background-color: #005a00;
}

.POST {
    background-color: #2626cc;
}

.PUT {
    background-color: teal;
}

.DELETE {
    background-color: darkred;
}

.routesWrapper {
    margin-left: 20px;
}

.categoryRoute {
    border: 2px solid #d4d4d4;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.groupButtonsWrapper {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
}

label.formError {
    border: dashed 2px orange;
    color: orange;
    padding: 5px;
    font-size: 12px;
}
